body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("wallpaper/simple.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

#menu li{
  display: inline-table;
  float: right;
  width: 10%;
  text-align: center;
  padding: 5px;
  list-style-type: none;
  background-color: rgba(135, 228, 189, 0.212);
}

#menu li>a{
  color: rgb(20, 19, 19);
  text-decoration: none;
}  

a:hover, a:active {
  background-color: rgba(96, 185, 136, 0.507);
  text-decoration: none;
}

#text1{
  font-family:courier;
  font-size: 15px;
  text-shadow: 2px 2px 5px rgb(13, 228, 210);
  margin-left: 20px;
}

h1{
  text-align:center
}

.bgtext {
  backdrop-filter: blur(8px);
  color: rgb(8, 8, 8);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  text-align: center;
  position: static;
  width: 100%;
  padding: 20px;
}

.alert {
  margin: 20px;
  width: 96%;
  text-align: center;
}

footer {
  position: absolute;    
  width: 100%;
  background-color: rgba(124, 209, 150, 0.356);
  color: olive;
  font-size: 50%; 
  margin-top: 20px;
}

.footer1 {
  float: left;
  margin-left: 10px;
}

.footer2 a {
  float: right;
  text-decoration: none;
  color: olive;
  display: inline-table;
  margin-right: 10px;
  list-style-type: none;
}
